  <footer class="footer">

    <div class="iconsContainer">

      <section class="text-center">

        <a class="btn btn-link btn-floating btn-lg text-body">
          <i class="fab fa-facebook-f"></i>
        </a>
  
        <a class="btn btn-link btn-floating btn-lg text-body">
            <i class="fab fa-twitter"></i>
        </a>

        <a class="btn btn-link btn-floating btn-lg text-body">
          <i class="fab fa-google"></i>
        </a>
  
        <a class="btn btn-link btn-floating btn-lg text-body">
          <i class="fab fa-instagram"></i>
        </a>
  
        <a class="btn btn-link btn-floating btn-lg text-body">
          <i class="fab fa-linkedin"></i>
        </a>

        <a class="btn btn-link btn-floating btn-lg text-body">
            <i class="fab fa-github"></i>
        </a>
      </section>

    </div>

  
    <div class="copyright text-center bg-dark" style="color: lightgray;">
      © 2024 Copyright: JewelleryJS
    </div>

  </footer>