.iconsContainer {
    background-color: #0000000d;
    border-top: 2px solid black;
}

.copyright {
    background-color: #0000002f;
    padding: 5px;
    border-top: 2px solid black;
}

a {
    margin: 0px 15px;
}