input, select {
  margin-bottom: 5px;
}

#description {
  line-height: normal;
}

.admincontainer {
  margin-bottom: 3em;
}

li {
  list-style-type: none;
}

.product {
  display: flex;
  background-color: #f9f9f9;
  margin-bottom: 1em;
  padding: 1em;
}

.productvariants {
  margin-top: 1em;
  margin-left: 1em;
}

.variantlist {
  display: flex;
  overflow-x: scroll;
  width: 50vw;
}

.variant {
  padding: 5px;
  background-color: #e3e3e3;
  margin-right: 2em;
  border-radius: 5px;
  margin-bottom: 1em;
}

img {
  margin: 2em;
}