<app-nav></app-nav>
<div>
    <h3>Remove product</h3>
    <ul>
        @for (product of products; track $index) {
            <div class="product">
                <img src="{{ product.imagePath }}" alt="{{ product.name }}" style="width: 100px; object-fit: contain;">
                <div>
                    <h5 style="margin: 1px">{{ product.brand }} {{ product.name }}</h5>
                    <button style="margin: 1px" (click)="onRemoveProduct(product.id)" class="btn-outline-primary">
                        Remove
                    </button>
                    <div class="productvariants">
                        <h6>Variants</h6>
                        @if (product.productProperties.length == 0) {
                            <p style="color: brown">No variants</p>
                        } @else {
                            <ul class="variantlist">
                                @for (property of product.productProperties; track $index) {
                                    <li class="variant">
                                        <div style="margin: 1px">
                                            <p style="margin: 1px">
                                                Size <strong>{{ property.size }}</strong><br>
                                                Material <strong>{{ property.material }}</strong><br>
                                                Color <strong>{{ property.color }}</strong>
                                            </p>
                                            <p style="margin: 1px">{{ property.price | currency }}</p>
                                        </div>
                                        <button style="margin: 1px" (click)="onRemoveVariant(property.id)" class="btn-outline-primary">
                                            Remove variant
                                        </button>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        }
    </ul>
</div>