<ul class="nav">
    <li class="nav-item">
        <a routerLink="/admin/addproduct" style="cursor: pointer;">Add products</a>
    </li>
    <li class="nav-item">
        <a routerLink="/admin/removeproduct" style="cursor: pointer;">Remove products</a>
    </li>
    <li class="nav-item">
        <a routerLink="/admin/stats" style="cursor: pointer;">Stats</a>
    </li>
    <li class="nav-item">
        <a routerLink="/admin/products" style="cursor: pointer;">Products stock</a>
    </li>
</ul>
<hr>