<div id="container">
    <div id="bigimg">
        <img src="../../assets/jewellery_banner.jpg" alt="Various types of jewelry">
        <p class="centered">Welcome!</p>
    </div>

    <div class="subcontainer">
        <img src="https://brunathelabel.com/cdn/shop/files/All-web-collection-banners.jpg?v=1683901110" 
        alt="Necklace">

        <img src="https://thirdeyeofnewt.co.uk/cdn/shop/files/Vintage_Jewellery.jpg?v=1675521961&width=1420" 
        alt="">

        <img src="https://w0.peakpx.com/wallpaper/259/331/HD-wallpaper-rings-jewelry-gold-aesthetics.jpg" 
        alt="">
    </div>
</div>